body{
    background-color: black;
}

#navbar{
    background-color: white;
}


.typing-container {
	margin: auto;
	display: table;
}

.typing-h1 { 
	position: relative; 
	float: left;
	background: tomato;
	color: #fff;
	font-size: 2.5em;
}

.typing-h1 span {
    position:absolute;
    right:0;
    width:0;
    background: tomato;
    border-left: 1px solid #000;
    animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}
